In [3]:
import pandas as pd
import sqlite3

In [4]:
coon = sqlite3.connect("../data/adult.db")
df = pd.read_sql_query('''select * from adult;''', coon)

DatabaseError: Execution failed on sql 'select * from adult;': no such table: adult